.header{
  color: white;
  background-color: #000070;
  padding: 0.2em;
  padding-left: 1em;
  margin: 1em;
  margin-bottom: 0;

}

.body{
  margin: 1em;
  margin-top: 0;
  background-color: #f0f0ff;
  border-style: solid;
  border-color: #000070;
  border-width: 1px;
}

.body li{
  margin-left: 2em;
}

.body .comment, .body form{
  padding: 1em;
}

.header p{
  font-family: sans-serif;
}

.footer p{
  margin: 0;
  padding: 0.2em;
  padding-left: 0.5em;
  display: inline-block;
  vertical-align: top;
}

.footer .date{
  float: right;
}

textarea{
  margin-top: 1em;
  width: 80%;
  height: 7em;
}

#title{
  width: 20%;
  display: inline;
}

#date{
  width: 20%;
}
