DOCTYPE
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Red Aglet
        
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(type='text/javascript', src='scripts/draw_elements.js')
    script(type='text/javascript', src='scripts/home.js')    
    script(type='text/javascript', src='scripts/details.js')
    
    //- Using bulma from https://bulma.io/
    link(rel='stylesheet', href='styling/bulma.min.css') 
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='styling/home.css')
    link(rel='stylesheet', href='styling/nav.css')
    link(rel='stylesheet', href='styling/gallery.css')
    link(rel='stylesheet', href='styling/product_detail_page.css')
    link(rel='stylesheet', href='styling/details.css')

block header_content
